.l-categories-list,
.footer,
.awemenu,
#toolbar,
.awe-menubar-search,
.header-top,
.breadcrumb,
.wishlist-share-container {
  display: none !important;
}
.view-wishlist-product th:last-child,
.view-wishlist-product td:last-child {
  display: none !important;
}
#edit-submit,
.alert,
.messages {
  display: none !important;
}
@media print {
  .noprint {
    display: none !important;
  }
  a:link:after,
  a:visited:after {
    display: none;
    content: "";
  }
}
@page {
  size: auto;
}
