#commerce-checkout-form-checkout, .page-checkout-review {	
	input[type='text'], select {
		width: 220px;
	}

	.form-item-commerce-shipping-shipping-service {
		input[type='radio'], label {
			display: inline-block;
		}
	}

	.checkout-help {
		margin-bottom: 15px;
		
		font-size: 18px;
		font-weight: bold;
	}

	.view-order-coupon-list {

	    .views-table {
	    	margin-top: 10px;
			
			th, td {
				padding: 8px;
			}

	    	ul {
	    		margin: 0;

	    		li {
	    			margin: 0;

	    			list-style: none;
	    		}
	    	}
	    }
	}
}

#commerce-checkout-form-checkout {
	#commerce-checkout-coupon-ajax-wrapper { //,#commerce-shipping-service-ajax-wrapper
		display: none;
	}
}


.commerce-order-handler-area-order-total .commerce-price-formatted-components {
	tr.odd, tr.even {
		background: #333;
	}
}

.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
	background: #333;
}

