/* Webfont: FCKCondensed-Rg */@font-face {
    font-family: 'FCKCondensed';
    src: url('FCKCondensed-Rg.eot'); /* IE9 Compat Modes */
    src: url('FCKCondensed-Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FCKCondensed-Rg.woff') format('woff'), /* Modern Browsers */
         url('FCKCondensed-Rg.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FCKCondensed-Rg.svg#FCKCondensed-Rg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

