#md-megamenu-5 .awemenu-submenu > li.awemenu-item > a {
font-family: "Roboto";font-weight: light;font-size: 14px;
	color: #898989;
}
#md-megamenu-5 {width: 100%}
#md-megamenu-5 .awemenu-item-level-1 > a {font-family: "Montserrat";font-weight: normal;font-size: 14px;text-transform: uppercase;}
#md-megamenu-5 .awemenu-item-level-1 > a,
#md-megamenu-5 .awemenu-item-level-1 > a:link {
font-weight: bold;
}
#md-megamenu-5 h1 {
	font-family: "Montserrat";font-weight: normal;
}
#md-megamenu-5 h2 {
	font-family: "Montserrat";font-weight: normal;
}
#md-megamenu-5 h3 {
	font-family: "Montserrat";font-weight: normal;
}
#md-megamenu-5 h5 {
	font-family: "Montserrat";font-weight: normal;
}
#md-megamenu-5 h6 {
	font-family: "Montserrat";font-weight: normal;
}
#md-megamenu-5 .awemenu-submenu h3.mm-header {
	font-family: "Montserrat";font-weight: normal;
}
